<nav class="nav">
    <ul>
        <li class="user"><%= user.name || user.username || user.email %></li>
        <br>
        <li>
            <form action="/settings" method="get">
                <button class="editt" type="submit">Edit Profile</button>
            </form>
            <form action="/logout" method="post">
                <button class="logout" type="submit">Sign out</button>
            </form>
        </li>
    </ul>
</nav>
