<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ascend Data Tracker</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<section class="todohome">
			<header>
				<h1>Settings</h1>
			</header>
            <%- include('navigation') %>
			<section>
				<h2>Add New Client </h2>
                <!-- Inside newClient.ejs -->
                <% if (successMessage) { %>
                    <div class="success-message"><%= successMessage %></div>
                <% } %>
                <form action="/newClient" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br><br>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required><br><br>
                    <button type="submit">Add Client</button>
                </form>
                <!-- Include this script in your newClient.ejs template -->
			</section>
		</section>
		<footer class="info">
			<p>Created by John Harnois</a></p>
			<p>Part of <a href="https://ascendwithaba.com/">Ascend ABA </a></p>
		</footer>
	</body>
</html>
