<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ascend Data Tracker</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/split.css">
</head>
<body>
    
    <section class="todohome">
        <nav class="nav">
            <ul>
                <li class="user"><%= user.name || user.username || user.email %></li>
                <br>
                <li>
                    <form action="/edit" method="get">
                        <button class="editt" type="submit">Edit Profile</button>
                    </form>
                    <form action="/logout" method="post">
                        <button class="logout" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </nav>
        <header>
            <h1>Required</h1>
        </header>
        <section>
            <h2>Please Fill Out </h2>

            <form action="/rbtOrBcba" method="post">
                <h3>Are you a BCBA?</h3>
                <div>
                    <input type="hidden" name="userData" value="<%= JSON.stringify(user) %>">
                    <label>
                        <input type="radio" name="role" value="bcba" required>
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="role" value="rbt" required>
                        No
                    </label>
                </div>
                <h3>Enter your name:</h3>
                <input type="text" name="name" required>
                <button type="submit">Submit</button>
            </form>
                
        </section>
    </section>
    <footer class="info">
        <p>Created by John Harnois</a></p>
        <p>Part of <a href="https://ascendwithaba.com/">Ascend ABA </a></p>
    </footer>
</body>
</html>
